    <tbody>
        <tr>
            <td><input type="checkbox"></td>
            <td>{{ content.field_announcement_title }}</td>
            <td>{{ node.createdtime|date('d/m/Y') }}</td>
            <td>{{ content.field_announcement_category }}</td>
            <td>file1.txt</td>
            <td>
                <div class="btn-group dropdown">
                  <a href="#" class="btn btn-sm" data-toggle="dropdown" onclick="toggleDropdown()">
                    <img src="/themes/custom/athex/assets/DownloadCicle.svg" class="download-icon" alt="Download Icon">
                  </a>
                  <div class="dropdown-menu" id="myDropdown">
                    <a class="dropdown-item" onclick="handleDropdownOptionClick(this)" href="#">Download Excel File</a>
                    <a class="dropdown-item" onclick="handleDropdownOptionClick(this)" href="#">Download txt File</a>
                    <a class="dropdown-item" onclick="handleDropdownOptionClick(this)" href="#">Download All</a>
                  </div>
                </div>
              </td>
        </tr>
    </tbody>
