<div class="scheduleItem d-flex flex-row justify-content-between">
  <div class="schedulItemTitle body2 weightBold textColorBlack"> {{ content.field_sbi_description}}	</div>
  <div class="schedulItemTime body2 weightDemi textColorPurple d-flex"> {{ content.field_sbi_value}} - {{ content.field_colpi_svalue }}</div>
</div>
<hr class="scheduleItemHr"> 

<style>
.scheduleItem{
  height:80px;
  align-items: center;
}

.scheduleItemHr{
  opacity:1;
  display:block;
  color: #D1CCE1;
  height:10px;
  width:100%;
}
</style>      