{{ attach_library('athex/paragraphs.announcements') }}


  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="selectAll">
    <label class="form-check-label" for="selectAll">Select All</label><span class="vertical-line">|</span>
    <button id="downloadButton" class="btn btn-primary" style="opacity: 0.2;" disabled>Download</button>
  </div>
    <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Category</th>
        <th scope="col">File</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
       {{ content }}
    </tbody>
  </table>