@import '../nav/nav_bar.scss';

@media (max-width: 992px) {
	.burger-mobile:not(.mobile-menu-main-expanded), .top-links:not(.mobile-menu-main-expanded) {
		display: none;
	}
}

.top-links, .nav-menu {
	// min-width: 100%;
}

.container.top-menu {
    position: static;
}



hr {
	color: #C2D1D9 !important;
	margin: 0 !important;
}

.search-icon {
	background-image: url('assets/icons/Gradient2/search.svg');
	width: 24px;
	height: 24px;
	background-size: 24px;
	background-repeat: no-repeat;
	display: block;
	position: relative;
}

.menu-item-arrow, .back-icon {
	background-image: url('/assets/icons/purple/iconChevronRight.svg');
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	display: block;
}

.back {
	display: flex;
	align-items: center;

	.back-icon {
		transform: rotate(180deg);
	}

	.back-button {
		background: none;
		border: none;
	}
}

.burger-icon {
	background-image: url('assets/icons/Gradient/iconMenu.svg');
	width: 24px;
	height: 24px;
	background-size: 24px;
	background-repeat: no-repeat;
	display: block;
	position: relative;
	top: 28px;
}



.main-menu {
	padding: 0px 24px;
}

.site-branding  {
	padding: 24px !important;
	min-width: 66.6%;

	img {
		width: 126px;
	}
}

.main-menu {
	input[type="submit"]:not(:disabled){
		display: none;
	}

	input[type="search"]:not(:disabled){
		display: none;
	}
}

.menu-block--main {
	ul {
		list-style: none;
		padding: 0;
	}

	nav {
		.top-level {
			// padding: 34px 12px 6px;
			// width: 100%;

			> li > .menu-title {
				text-align: center;
			}
		}

		li {
			// display: flex;
			// justify-content: space-between;
			// padding: 12px 0px;

			@media(min-width: 992px) {
				flex-direction: column;
			}
		}
	}
}

.menu-sublink, .login {

	border-bottom: 1px solid #E6EBEE;
	display: flex;
	justify-content: space-between;
    padding: 8px 32px 8px 32px;

	div {
		width: 100%;

		a {
			font-weight: bold;
			display: block;
			width: 100%;
			background: linear-gradient(87deg, #21C0F2 -29.34%, #882BFE 119.81%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

}



.language-selector ul, .language-selector li, .login ul, .login li {
    column-gap: 10px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 3%;
    flex-direction: row;
    justify-content: flex-end;
}


@media (min-width: 992px) {



	.burger-btn {
		display: none;
	}

	.menu {
		justify-content: space-between;
	}

	.top-links {
		row-gap: 10px;
		height: 5cqh;
		background-color: #F6F5F8;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		font-size: 13px;
		column-gap: 20px;
	}

	.navbar-toggler, .menu-item-arrow {
		display: none;
	}

	hr {
		display: none;
	}

	.search-icon {
		border: none;
		left: 80%;
	}

	.menu-sublink {
		border: none;
	}

	.site-branding {
		min-width: 16.6%;
	}

	// .nav-menu {
	// 	text-wrap: nowrap;
	// 	position: relative;
	// 	bottom: 85px;
	// 	left: 390px;
	// 	min-width: 50%;
	// }

	.main-menu {
		position: relative;
		bottom: 35px;
		order: 2;
	}

	.row.menu {
		background-color: white;
		border-bottom: 1px solid #E8E5F0;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.athex_investorrelationslink {
		display: flex;
		height: 100%;
		background: rgba(232, 229, 240, 0.6);
		flex-direction: column;
		justify-content: center;
	}

	.athex_investorrelationslink a{
		font-weight: bold;
		background: linear-gradient(87deg, #21C0F2 -29.34%, #882BFE 119.81%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.col-12.top-links-wrapper {
		padding: 0px;
		background-color: transparent;
	}

	.top-menu-bar{
		display: block;
		border-top: 4px solid  #3300C6;
    	background:  #F6F5F8;
	}

	.main-menu-bar {
		border-bottom: 1px solid gray;
		background-color: white;
	}
	.col-8.nav-menu {
		padding-top: 10px;
	}
	.language-selector ul, .language-selector li, .login ul, .login li {
		display: flex;
		column-gap: 10px;
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}
nav#block-athex-main-menu {
    display: flex;
    justify-content: flex-end;
}

.menu-block--main nav .top-level {
    margin-left: 55px;
    margin-bottom: 0px;
    width: 90%;
    display: flex;
    align-content: center;
    align-items: flex-end;
    font-size: 13px;
    font-weight: 600;
    color: #1A0069;
    justify-content: space-between;
    flex-direction: row;
}

span.menu-title.menu-title-depth-1 {
    margin-right: 15px;
}

.top-menu {
    left: 0;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
}

// forma anazititis

.search-window {
    padding: 5%;
    display: none;
    position: fixed;
    top: 5%;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: white;
    z-index: 1000;
}



button.close-button {
    height: 24px;
	width: 24px;
    background-image: url(/assets/icons/Gradient/iconClose.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    border: none;
    background-color: transparent;
    top: 10%;
    right: 5%;
}

.form-search {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

div#edit-actions--3 {
    display: none;
}

.sItem {
	background-color: transparent;
	color:#5F4D96;
	border-radius: 2px;
    padding: 1%;
    border: 1px solid #E4E1ED;
}

.sItem:hover {
	background-color: #F0ECFC;
	color:#3C06D9;
    padding: 1%;
    border: 1px solid #E4E1ED;
}



.popularSearchItems {
    row-gap: 10px;
    padding-top: 20px;
    column-gap: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.regionHeader {
    width: 100%;
    z-index: 999;
    position: fixed;
}

@media(max-width:992px){

	.search-window {
		height: 100%;
	}

	button.close-button {
		height: 50px;
		top: 0%;
	}


	.menu-block--main nav .top-level {
		position: relative;
		left: 0%;
		transform: none;
		display: flex;
		align-content: center;
		align-items: flex-start;
		font-size: 13px;
		font-weight: 600px;
		color: #1A0069;
		padding: 34px 12px 6px;
		width: 100%;
		justify-content: center;
		flex-direction: column;
	}
	.menu-sublink, .login {
	border-bottom: 1px solid #E6EBEE;
	display: flex;
	justify-content: space-between;
	padding: 32px 32px 32px 32px;
	}

	.col-9.nav-menu {
		display: none;
	}
	.col-9.nav-menu.active {
		display: flex;
	}

	.menu-block--main {
		width: 80vw;
	}

	nav#block-athex-main-menu {
		width: 80vw;
		display: flex;
		justify-content: flex-end;
	}

	.sub-menu {
		display: none;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background-color: #fff;
		z-index: 100;
	}

	.sub-menu.active {
		display: block;
	}


}
