.news-item-full {
	// .newsitem-elements {
	// 	padding: 0px 109px;
	// }

	.paragraph.paragraph--type--hero-banner-slider.paragraph--view-mode--default {
		display: none;
	}

	.news-item-info {
		display: flex;
		padding: 48px 0 32px;

		.newsitem-cat {
			padding-right: 16px;
			border-right: 1px solid #D1CCE1;

			a {
				color: #3C06D9;
			}
		}

		.newsitem-date {
			padding-left: 16px;
		}

		.newsitem-title {
			padding-bottom: 12px;
		}
	}

	.text-item-body {
		> p {
			padding-bottom: 48px;
		}

		strong {
			font-size: 24px;
			font-style: normal;
			font-weight: 500;
			line-height: 34px; /* 141.667% */
			letter-spacing: 0.96px;
			color: #1A0069;
		}
	}

	.text-item-cta {
		margin-top: -16px;
		padding-bottom: 48px;

		a {
			display: flex;
			gap: 18px;
			align-items: center;
		}

		a::after {
			background-image: url('assets/icons/black/arrow-right-black.svg');
			content: '';
			width: 20px;
    		height: 20px;
			display: block;
		}
	}

	.share-btn-wrapper {
		padding-top: 32px;

		.share-btn {
			padding: 12px 16px 12px 12px;
			border: 1px solid var(--Supportive-Gradient-Indigo-01, #3300C6);
			display: flex;
			gap: var(--Colors-Pixels-Spacing-xxsm, 16px);

			.share-btn-icon {
				background-image: url('assets/icons/Gradient/share.svg');
				display: block;
				width: 20px;
				height: 20px;
			}

			.share-btn-text {
				background: var(--Supportive-Gradient-Indigo-01, linear-gradient(89deg, #3300C6 -14.47%, #8466DB 126.05%));
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}

	.newsitem-mainimage {
		padding: 60px 0px 48px;

		img {
			max-width: 100%;
			height: 210px;
		}
	}

	.text-title {
		padding: 48px 0px 24px;
	}

	.news-main-body {
		padding: 0px 0px 28px;
	}

	.imagesliderWrapper  {
		padding-bottom: 48px;

		// .active {
		// 	margin-left: -86px;
		// }

		img {
			width: 266px;
			height: 180px;
		}
	}

	.controls {
		border-top: 1px solid #D1CCE1;
		padding: 48px 0px;
		justify-content: end;
	}
}

@media (min-width: 992px) {
	.news-item-full {
		.newsitem-elements {
			padding: 0px 109px;
		}

		.newsitem-mainimage {
			img {
				width: 100%;
				height: 600px;
			}
		}

		.imagesliderWrapper  {
			display: flex;
			gap: 24px;

			img {
				width: 411px;
				height: 277px;
			}
		}

		.news-main-body {
			padding: 0px 109px 56px;
		}
	}

	#tns2 > .tns-item {
		width: auto;
	}
}
