.sticky-button {
    position: fixed;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 70px;
    background: linear-gradient(89deg, #2B01D0 -30.4%, #5350F8 126.88%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sticky-button button {
    background: transparent;
    color: #fff;
    font-size: 18px;
    border: none;
    padding: 15px 35px;
    cursor: pointer;
  }

  .container-main {
    margin-bottom: 70px; /* Προσαρμογή margin για να μην καλύπτεται το περιεχόμενο από το sticky button */
  }

  .table-bordered td, .table-bordered th {
  border: none;
}

.table-bordered {
  background-color: #F6F5F8;
  border: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: none;
}


.btnShare{
  color:#8466DB;
  background-position: left center;
  background-repeat: no-repeat;
  padding: 12px 15px 12px 48px;
  background-image: url('assets/icons/white/slider-arrow.svg');
align-items: flex-start;
gap: 16px;
border: 1px solid  #3300C6;
background-color: transparent;
}
.SeminarTitle {
  padding-bottom: 100px;
  row-gap: 20px;
}
.SeminarDetailsTable {
  max-width: 320px;
}
.SeminarMainContentText{
  justify-content: space-between;
}

.register{
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: white;
  width: 254px;
height: 88px;
padding: 35px 40px;
justify-content: center;
align-items: center;
gap: var(--Colors-Pixels-Spacing-xxxxsm, 8px);

background: linear-gradient(89deg, #2B01D0 -30.4%, #5350F8 126.88%);

}
@media(min-width:992px){
.sticky-button {
    display: none;
  }
  .SeminarDetailsTable {
    max-width: 320px;
}


}