.solhome-item {
	.sol-teaser-title {
		position: relative;
		top: 45px;
		left: 20px;
		z-index: 1;
		margin: 0;
		position: relative;
		
		> span {
			position: absolute;
		}
	}

	.sol-teaser-arrow {
		background-image: url('assets/icons/white/arrow-right.svg');
		display: block;
		width: 20px;
		height: 20px;
		position: relative;
		bottom: 30px;
		left: 130px;
		background-repeat: no-repeat;
	}

	.sol-teaser-image {
		border-radius: var(--colors-pixels-spacing-null, 0px);

		img {
			background: lightgray 50% / cover no-repeat;
			border-radius: var(--colors-pixels-spacing-null, 0px);
			mask-image: linear-gradient(to right,rgba(0, 0, 0, 1), 200px ,transparent);
			width: 160px;
			height: 160px;
			opacity: 0.35;
		}
	}
}

@media(min-width: 992px) {

	.solhome-item {
		article {
			width: 206px;
    		height: 198px;
			background: var(--Primary-Teals-Purple-Teal-07, #4C37B0);
		}

		.sol-teaser-title {
			top: 24px;
			left: 24px;
		}

		.sol-teaser-arrow, .sol-teaser-arrow:hover  {
			background-image: url('assets/icons/white/plus.svg');
			width: 28px;
			height: 28px;
			left: 152px;
			display: block;
			position: relative;
			top: 128px;
		}

		.sol-teaser-image {
			img {
				width: 206px;
    			height: 198px;
				display: none;
			}
		}

		article:hover {
			.sol-teaser-image{
				img {
					display: block;
				}
			}

			.sol-teaser-arrow {
				background-image: url('assets/icons/white/arrow-right.svg');
				top: -62px;
				left: 164px;
			}
		}
	}

	// .sol-teaser-image {
	// 	border-radius: var(--colors-pixels-spacing-null, 0px);

	// 	img {
	// 		border-radius: var(--colors-pixels-spacing-null, 0px);
	// 	}
	// }
}
