.solhome-item {
	.sol-teaser-title {

		> span {
			max-width: 128px;
			max-height: 56px;
			position: absolute;
			padding: 0px 16px;
			margin-top: 56px;
			text-overflow: ellipsis;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;

			display: -moz-box;
			-moz-box-orient: vertical;
			-moz-line-clamp: 2;
		}
	}

	.sol-teaser-arrow {
		background-image: url('assets/icons/white/arrow-right.svg');
		display: block;
		width: 20px;
		height: 20px;
		position: relative;
		bottom: 30px;
		left: 118px;
		background-repeat: no-repeat;
	}

	.sol-teaser-image {
		border-radius: var(--colors-pixels-spacing-null, 0px);

		img {
			background: lightgray 50% / cover no-repeat;
			border-radius: var(--colors-pixels-spacing-null, 0px);
			mask-image: linear-gradient(to right,rgba(0, 0, 0, 1), 200px ,transparent);
			width: 152px;
			height: 152px;
			opacity: 0.15;
		}
	}

	article {
		width: 152px;
   		height: 152px;
	}

	.sol {
		height: 100%;
    	display: block;
    	width: 100%;
		background: linear-gradient(121deg, #602BD0 -3.57%, rgba(60, 212, 224, 0.77) 115%),lightgray 50% / cover no-repeat;
		position: relative;
	}

	.number {
		padding: 20px 16px 0px;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0.48px;
		color: #fff;
		position: absolute;
		top: 0;
		left: 0;
	}
}

@media(min-width: 992px) {

	.solhome-item {

		.number {
			padding: 32px 24px 0px;
		}

		article {
			width: 254px;
    		height: 254px;
			background: var(--Primary-Teals-Purple-Teal-07, #4C37B0);
		}

		.sol {
			background: unset;
		}

		.sol:hover {
			background: linear-gradient(121deg, #602BD0 -3.57%, rgba(60, 212, 224, 0.77) 115%), lightgray 50% / cover no-repeat !important;
		}

		.sol-teaser-title {

			> span {
				max-width: 206px;
				max-height: 144px;
				padding: 4px 24px;
				-webkit-line-clamp: 4;

				-moz-line-clamp: 4;
			}
		}

		.sol-teaser-arrow, .sol-teaser-arrow:hover  {
			background-image: url('assets/icons/white/plus.svg');
			width: 28px;
			height: 28px;
			left: 206px;
			display: block;
			position: relative;
			top: 206px;
		}

		.sol-teaser-image {
			img {
				width: 100%;
				object-fit: cover;
    			height: 254px;
				display: none;
			}
		}

		article:hover {
			.sol-teaser-image{
				img {
					display: block;
				}
			}

			.sol-teaser-arrow {
				background-image: url('assets/icons/white/arrow-right.svg');
				top: -44px;
				left: 202px;
			}
		}
	}
}

