.solhome-item {
	.sol-teaser-title {
		position: relative;
		top: 20px;
		left: 16px;
		margin: 0;
		max-width: 128px;

		> span {
			position: absolute;
			max-width: 112px;
			max-height: 112px;
			text-overflow: ellipsis;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;
		}
	}

	.sol-teaser-arrow {
		background-image: url('assets/icons/white/arrow-right.svg');
		display: block;
		width: 20px;
		height: 20px;
		position: relative;
		bottom: 30px;
		left: 118px;
		background-repeat: no-repeat;
	}

	.sol-teaser-image {
		border-radius: var(--colors-pixels-spacing-null, 0px);

		img {
			background: lightgray 50% / cover no-repeat;
			border-radius: var(--colors-pixels-spacing-null, 0px);
			mask-image: linear-gradient(to right,rgba(0, 0, 0, 1), 200px ,transparent);
			width: 152px;
			height: 152px;
			opacity: 0.15;
		}
	}

	article {
		width: 152px;
   		height: 152px;
	}

	.sol {
		height: 100%;
    	display: block;
    	width: 100%;
		background: linear-gradient(121deg, #602BD0 -3.57%, rgba(60, 212, 224, 0.77) 115%),lightgray 50% / cover no-repeat;
	}
}

@media(min-width: 992px) {

	.solhome-item {
		article {
			width: 206px;
    		height: 198px;
			background: var(--Primary-Teals-Purple-Teal-07, #4C37B0);
		}

		.sol {
			background: unset;
		}

		.sol:hover {
			background: linear-gradient(121deg, #602BD0 -3.57%, rgba(60, 212, 224, 0.77) 115%), lightgray 50% / cover no-repeat !important;
		}

		.sol-teaser-title {
			top: 24px;
			left: 24px;

			>span {
				max-width: 136px;
				max-height: 144px;
			}
		}

		.sol-teaser-arrow, .sol-teaser-arrow:hover  {
			background-image: url('assets/icons/white/plus.svg');
			width: 28px;
			height: 28px;
			left: 162px;
			display: block;
			position: relative;
			top: 153px;
		}

		.sol-teaser-image {
			img {
				width: 100%;
				object-fit: cover;
    			height: 198px;
				display: none;
			}
		}

		article:hover {
			.sol-teaser-image{
				img {
					display: block;
				}
			}

			.sol-teaser-arrow {
				background-image: url('assets/icons/white/arrow-right.svg');
				top: -44px;
				left: 164px;
			}
		}
	}

}
