@import '../base';

.menu-block--main {
	nav {
		&>ul {
			list-style: none;
		}

		li > div:not(.expanded) {
			display: none;
		}

		li.expanded > div {
			display: block;
		}

		li.expanded > span {
			display: none;
		}

		li.hidden {
			display: none;
		}

		button:not(.back-button){
			display: none;
		}

		.expanded-item ~ li {
			display: none;
		}

		.expanded-item > div > button {
			display: none;
		}

		@media (min-width: 992px) {
			ul {
				display: flex;

				li {
					padding: 0px 25px;
				}
			}

			.expanded ul {
				flex-direction: column;
			}

			li.expanded > span {
				display: block;
			}

			li.expanded > div {
				padding-top: 15px;
				position: relative;
   				left: 9%;
			}

			.menu-main-expanded {
				position: relative;
				right: 42%;
			}

			.expanded:not(.hidden){
				position: relative;
			}

			li.hidden {
				display: block;
			}

			.menu-block--main {
				padding-bottom: 16%;
			}

			.hidden {
				display: block;
			}

			li.expanded > div > ul > li.expanded > div {
				left: 115%;
				bottom: 24%;
				position: relative;
				margin-bottom: -115px;
			}

			li.expanded > div > ul > li.expanded > div > ul  > li.expanded {
				margin-bottom: -99px;
			}

			.back-button.hidden {
				display: none;
			}

		}

	}
}
