@import '../base';

li.expaned ~ li:not(.expanded) {
	display: none;
}

.hidden {
	display: none;
}

.menu-block--main {
	nav {
		li > div:not(.expanded) {
			display: none;
		}

		li.expanded > div {
			display: flex;
			width: 100%;
		}

		li.expanded > span {
			display: none;
		}

		.expanded-item ~ li {
			display: none;
		}

		.expanded-item > div > button {
			display: none;
		}

		.expanded > div {
			display: flex;
			flex-direction: column;

			> a {
				padding-bottom: 24px;
				order: 2;
				font-size: 18px;
				font-weight: 600;
			}

			.back {
				order: 1;
				padding-bottom: 50px;
			}

			ul {
				order: 3;
			}
		}



		@media (min-width: 992px) {
			ul {
				display: flex;

				li {
					padding: 0px 12px;
					font-size: 13px;
				}
			}

			.expanded ul {
				flex-direction: column;
			}

			li.expanded > .menu-title {
				display: block;
			}
		}
	}
}

@media (min-width: 992px) {

	.hidden {
		display: block;
	}

	.back {
		display: none;
	}

	.sub-menu {
		position: absolute;
		top: 70px;
		right: 178px
	}

}

.layout-container.expanded {
	position: fixed;
	overflow-y: scroll;

	header {
		background-color: #F9F9F9;
		position: fixed;
		overflow: scroll;
		z-index: 999;
		height: 100vh;
		border-bottom: 3px solid #3300C6;
		width: 100vw;
	}

	main {
		position: absolute;
	}

	footer {
		position: absolute;
	}
}

.menu-block--main nav .top-level>li>.menu-title {
    display: flex;
    text-align: center;
}

.sub-menu.submenu-4.depth-3 {
    width: 360px;
}

.depth-4, .depth-3, .depth-2 {
    background-color: #F9F9F9;
    position: absolute;
    left: 100%;
    transform: translateX(10%);
}

.depth-4, .depth-3 {
    top: 0%;
}

.depth-2 {
    top: 2%;
}


.depth-1 {
    transform: translateX(30%);
    margin-top: 15px;
    padding: 20px 10px 0px 60px;
    color: #A399C3;
    right: 100%;
    position: fixed;
    max-width: 350px;
    background: white;
    height: 100vh;
}

.sub-menu a {
	font-family: Manrope;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	padding: 10px;
    color: #5F4D96;
}


a.titleMenu {
	margin-bottom: 20px;
	background-position: right center;
	background-repeat: no-repeat;
	background-image: url(/assets/icons/purple/iconArrow.svg);
	border-bottom: 1px solid #D1CCE1;
    color: #1A0069;
}

.menu-title.sub-menu.depth-1  {
	background-image: url(/assets/icons/purple/iconChevronRight.svg);
	background-repeat: no-repeat;
	background-position: right center;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	padding: 10px;
    color: #5F4D96;
}

span.menu-title.menu-title-depth-2  {
	background-image: url(/assets/icons/purple/iconChevronRight.svg);
	background-repeat: no-repeat;
	background-position: right center;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	padding: 10px;
    color: #5F4D96;
}

span.menu-title.menu-title-depth-3  {
	background-image: url(/assets/icons/purple/iconChevronRight.svg);
	background-repeat: no-repeat;
	background-position: right center;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	padding: 10px;
    color: #5F4D96;
}

span.menu-title.menu-title-depth-4{
	background-image: url(/assets/icons/purple/iconChevronRight.svg);
	background-repeat: no-repeat;
	background-position: right center;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	padding: 10px;
    color: #5F4D96;
}

li.col.expanded {
    color: #4508F5;
	font-weight: 600;
}

a.titleMenu{
	margin-right: 5%;
	color:#1A0069;
}

a.language-link.is-active {
    color: #3C06D9;
    font-weight: 700;
    font-size: 14px;
}

a.language-link {
	color: #A399C3;
}

.hidden-menu{
	display: none;
}


 @media(max-width:992px){

	.hidden-menu{
		display: none;
	}

	.depth-1 {
		margin-top: 15px;
		padding: 20px 10px 0px 10px;
		color: #A399C3;
		right: 90%;
		position: absolute;
		max-width: 350px;
		background: white;
		height: 100vh;
	}

	span.menu-title.menu-title-depth-2{
		background-image: none!important;
	}

	span.menu-title.menu-title-depth-3{
		background-image: none!important;
	}

	span.menu-title.menu-title-depth-4{
		background-image: none!important;
	}

	.main-menu.col-12 {
		background-color: white;
	}
	.menu-block--main nav li {
		width: 100%;
		font-size: 16px;
		font-weight: 600;
		color: #5F4D96;
		display: flex;
		justify-content: space-between;
		padding: 12px 0px;
	}

	.menu-block--main nav a {
		font-size: 16px;
		font-weight: 600;
		color: #5F4D96;
	}

	.sub-menu.submenu-1.depth-1 {
		position: absolute;
		max-width: none;
		width: 100%;
		right: 50%;
		transform: translateX(50%);
		top: 0%;
	}

	.depth-1{
		max-width:none;
	}

	 a.titleMenu {
		display: none;
	}

	.sub-menu.submenu-2.depth-1,
	.sub-menu.submenu-3.depth-1,
	.sub-menu.submenu-3.depth-2,
	.sub-menu.submenu-4.depth-3,
	.sub-menu.submenu-2.depth-2,
	.sub-menu.submenu-3.depth-3 {
    background-color: white;
    width: 100%;
    right: 50%;
    transform: translateX(50%);
    position: absolute;
}

	.titleMenuMob {
		color:#1A0069;
	}

	a.titleMenuMob{
		margin-right: 5%;
		color:#1A0069;
	}

}

