body{
    position: relative;
    font-family: 'Manrope' !important;

	&.toolbar-fixed{
		height: 100vh;

		.dialog-off-canvas-main-canvas {
			transform: translate(0);
			height: 100%;
			overflow: auto;
		}
	}
}

.views-exposed-form .form-actions{
    display:none;
}

.layout-bg-lightGrey{
    background:#F8F8FA;
}
