/* Neutrals */

.textColorWhite {
	color: #FFFFFF;
}

.bgColorWhite {
	background-color: #FFFFFF;
}

.textColorGrey1 {
	color: #D0D0CE;
}

.bgColorGrey1 {
	background-color: #D0D0CE;
}

.textColorGrey2 {
	color: #A7A8AA;
}

.bgColorGrey2 {
	background-color: #A7A8AA;
}

.textColorGrey3 {
	color: #5A5A5E;
}

.bgColorGrey3 {
	background-color: #5A5A5E;
}

.textColorGrey4 {
	color: #4B4B50;
}

.bgColorGrey4 {
	background-color: #4B4B50;
}

.textColorGrey5 {
	color: #39393F;
}

.bgColorGrey5 {
	background-color: #39393F;
}

.textColorGrey6 {
	color: #26262C;
}

.bgColorGrey6 {
	background-color: #26262C;
}

/* Brown */

.textColorBrown1 {
	color: #ECE7D6;
}

.bgColorBrown1 {
	background-color: #ECE7D6;
}

.textColorBrown2 {
	color: #D9C89E;
}

.bgColorBrown2 {
	background-color: #D9C89E;
}

.textColorBrown3 {
	color: #CAB683;
}

.bgColorBrown3 {
	background-color: #CAB683;
}

.textColorBrown4 {
	color: #AD8F53;
}

.bgColorBrown4 {
	background-color: #AD8F53;
}

.textColorBrown5 {
	color: #9F7A41;
}

.bgColorBrown5 {
	background-color: #9F7A41;
}

.textColorBrown6 {
	color: #966A27;
}

.bgColorBrown6 {
	background-color: #966A27;
}

/* Secondary */

.textColorDarkGreen {
	color: #427A7D;
}

.bgColorDarkGreen {
	background-color: #427A7D;
}

.textColorGreen {
	color: #6BC880;
}

.bgColorGreen {
	background-color: #6BC880;
}

.textColorRed {
	color: #F07272;
}

.bgColorRed {
	background-color: #F07272;
}

.textColorDarkRed {
	color: #CB333B;
}

.bgColorDarkRed {
	background-color: #CB333B;
}

/* Gradients */

.gradient1 {
	background: linear-gradient(180deg, #15151A -101.46%, rgba(21, 21, 26, 0) 100%);
}

/* Tiers */

.textColorBeginner {
	color: #9F7A41;
}

.textBgColorBeginner {
	color: #D9C89E;
}

.bgColorBeginner {
	background-color: #D9C89E;
}

.bgTextColorBeginner {
	background-color: #9F7A41;
}

/* Silver */

.textColorSilver {
	color: #5A5A5E;
}

.textBgColorSilver {
	color: #D3D3D1;
}

.bgColorSilver {
	background-color: #D3D3D1;
}

.bgTextColorSilver {
	background-color: #5A5A5E;
}

/* Gold */

.textColorGold {
	color: #AD8F53;
}

.textBgColorGold {
	color: #E8D79F;
}

.bgColorGold {
	background-color: #E8D79F;
}

.bgTextColorGold {
	background-color: #AD8F53;
}

/* Platinum */

.textColorPlatinum {
	color: #427A7D;
}

.textBgColorPlatinum {
	color: #B6CCCC;
}

.bgColorPlatinum {
	background-color: #B6CCCC;
}

.bgTextColorPlatinum {
	background-color: #427A7D;
}

/* Black */

.textColorBlack {
	color: #FFFFFF;
}

.bgColorBlack {
	background-color: #26262C;
}