/* Families */

.familyDearJoe {
	font-family: 'dearJoe 5 CASUAL PRO';
	font-style: normal;
	font-weight: 400;
}

.familyNeutra {
	font-family: 'NeutraTextGreek';
	font-style: normal;
}

/* Special */

.specialExtraLarge {
	font-size: 44px;
	letter-spacing: 0.88px;
	line-height: 74px;
}

.specialLarge {
	font-size: 36px;
	letter-spacing: 0.72px;
	line-height: 66px;
}

.specialMedium {
	font-size: 30px;
	letter-spacing: 0.6px;
	line-height: 52px;
}

.specialSmall {
	font-size: 26px;
	letter-spacing: 0.52px;
	line-height: 44px;
}

.specialExtraSmall {
	font-size: 17px;
	letter-spacing: 0.34px;
	line-height: 30px;
}

/* Headers */

.headerH1 {
	font-size: 44px;
	letter-spacing: 1.32px;
	line-height: 54px;
}

.headerH2 {
	font-size: 36px;
	letter-spacing: 0.72px;
	line-height: 44px;
}

.headerH3 {
	font-size: 32px;
	letter-spacing: 0.64px;
	line-height: 38px;
}

.headerH4 {
	font-size: 24px;
	letter-spacing: 0.48px;
	line-height: 30px;
}

.headerH5 {
	font-size: 20px;
	letter-spacing: 0.4px;
	line-height: 24px;
}

.headerH6 {
	font-size: 18px;
	letter-spacing: 0.36px;
	line-height: 22px;
}

/* Body */

.bodyLarge {
	font-size: 16px;
	letter-spacing: 0.32px;
	line-height: 28px;
}

.bodyMedium {
	font-size: 15px;
	letter-spacing: 0.3px;
	line-height: 26px;
}

.bodySmall {
	font-size: 14px;
	letter-spacing: 0.28px;
	line-height: 24px;
}

/* CTA */

.CTAMedium {
	font-size: 15px;
	letter-spacing: 0.3px;
	line-height: 18px;
}

.CTALarge {
	font-size: 16px;
	letter-spacing: 0.32px;
	line-height: 16px;
}

/* Additional */

.captionLarge {
	font-size: 16px;
	letter-spacing: 10.56px;
	line-height: 28px;
}

.captionSmall {
	font-size: 14px;
	letter-spacing: 9.24px;
	line-height: 26px;
}

/* Weights */

.weightLight {
	font-weight: 300 !important;
}

.weightBook {
	font-weight: 400 !important;
}

.weightDemi {
	font-weight: 600 !important;
}

/* Other */

strong {
	font-weight: 600 !important;
}