{# web/core/themes/stable9/templates/views/views-view-unformatted.html.twig #}


<div class="row">
	{% for row in rows %}
		<div class="news-item col-12 col-lg-4">
			{{- row.content -}}
		</div>
	{% endfor %}
</div>


