{# web/core/themes/stable9/templates/views/views-view-unformatted.html.twig #}

{{ attach_library('athex/solutions_slider') }}

<div class="col-12">
	<div class="container">
		<div class="solutions">
			<div class="solviewhomeWrapper">
				{% for row in rows %}
					<div class="solhome-item">
						{{- row.content -}}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<div class="container controls solutions-slider" aria-label="Carousel Navigation" tabindex="0">
	<span class="prev" data-controls="prev" aria-controls="customize" tabindex="-1">
	</span>
	<span class="next" data-controls="next" aria-controls="customize" tabindex="-1">
	</span>
</div>

