<div class="col-12 col-lg-5 indicesOverviewTable">
	<div class="ms-subheading heading5 textColorPurple weightBold ">
		<h3>{{'indices overview'|t}}</h3>
	</div>
	{{indices_overview}}
</div>
<div class="hr-mobile">
	<hr>
</div>
<div class="col-12 col-lg-6 offset-lg-1 marketDataTable">
	<div class="ms-subheading heading5 textColorPurple weightBold">
		<h3>{{'market activity'|t}}</h3>
	</div>
	{{market_activity}}
</div>
