<div class="col-12 col-xl-5 indicesOverviewTable">
	<div class="ms-subheading heading5 textColorPurple weightBold ">
		{{'indices overview'|t}}
	</div>
	{{indices_overview}}
</div>
<div class="hr-mobile">
	<hr>
</div>
<div class="col-12 col-xl-6 offset-xl-1 marketDataTable">
	<div class="ms-subheading heading5 textColorPurple weightBold">
		{{'market activity'|t}}
	</div>
	{{market_activity}}
</div>
