{{ attach_library('athex/ticker-tape-item') }}


<div class="ticker-tape-item col-12 body4">
	<div class="ticker-tape-symbol textColorPurpleLight weightDemi ">
		{{symbol}}
	</div>
	<div class="tickerWrapper">
		<div class="ticker-tape-value textColorGrey7">
			{{value}}
		</div>
		<div class="ticker-tape-change weightDemi">
			{{change}}
		</div>
	</div>
</div>
