body.befs-open {
	overflow: hidden;

	#toolbar-administration {
		display: none;
	}
}

.views-element-container:first-child  {
	.bgGrey {
		header {
			background: #F8F8FA;

			.view-header {
				padding: 48px 24px;

				h1 {
					font-size: 30px;
					font-style: normal;
					font-weight: 500;
					line-height: 40px;
					letter-spacing: 1.2px;
					color: #1A0069;
					padding-bottom: 24px;

					strong {
						background: linear-gradient(89deg, #3300C6 -14.47%, #8466DB 126.05%);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}

				p {
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: 24px; 
					letter-spacing: 0.48px;
					color: #030314;
				}

				@media (min-width: 992px) {
					display: flex;
					justify-content: space-between;
					align-items: flex-start;
					align-self: stretch;
					padding: 0px;

					h1 {
						font-size: 48px;
						line-height: 60px;
						letter-spacing: 1.92px;
					}

					p {
						font-size: 16px;
						line-height: 24px;
						letter-spacing: 0.48px;
					}
				}
			}
		}
	}
}

.views-element-container:first-child {
	header {
		padding: 112px 0 84px 0;
		background: linear-gradient(97deg, #0E00AB -18.5%, rgba(73, 43, 195, 0.51) 154.28%);
		font-size: 18px;
		font-weight: 300;
		line-height: 35px;
		letter-spacing: 6.48px;
		color: #E8E5F0;

		h1 {
			font-size: 48px;
			font-weight: 500;
			line-height: 60px;
			letter-spacing: 1.92px;
			color: white;
		}
	}
}

form.bef-exposed-form {
	width: 100%;
	margin: 64px 0;

	// &.has-only-textfield-in-primary {
		position: relative;
		max-width: 1060px;
		margin: 64px auto;

		& > .js-form-type-textfield {
			input, input:focus, input:active, input:focus-visible {
				display: block;
				width: 100%;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 24px;
				letter-spacing: 0.48px;
				padding: 16px 22px 16px 66px;
				border: 1px solid #D1CCE1CC;
				border-radius: 4px;
				outline: 0;
				background: #fff url('assets/icons/Gradient2/search.svg') no-repeat 22px center / 21px;
			}
		}

		// &.is-under-header {
			margin-top: -28px;
		// }

		details.bef--secondary {
			position: absolute;
			top: 0;
			right: 0;

			& > summary {
				color: #3C06D9;
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: 24px;
				letter-spacing: 0.42px;
				padding: 16px 50px 16px 22px;
				background: url('assets/icons/Gradient2/filtering.svg') no-repeat right 23px center / 19px;
			}

			summary::marker {
				content: none;
			}
		}

		& > .form-actions {
			display: none;
		}
	// }
}

body.befs-open details.bef--secondary[open] > summary {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	font-size: 0;
	background: #10142C66;
	backdrop-filter: blur(2px);
	z-index: 9998;
	cursor: default;
}

table {
	width: 100%;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.48px;
	color: #331F71;
	margin-bottom: 120px;

	th {
		background-color: #F6F5F8;
		color: #4C37B0;
		font-size: 14px;
		font-weight: 600;
		line-height: 20px;
		letter-spacing: 0.42px;
		text-transform: uppercase;
		padding: 12px 32px;
	}

	tbody {
		vertical-align: top;
	}

	td {
		padding: 24px 32px;
		border-bottom: 1.5px solid #E5E5EA;
	}

	th.views-field.views-field-title,
	td.views-field.views-field-title,
	th.views-field.views-field-name,
	td.views-field.views-field-name {
		width: 30%;
	}
}

details.bef--secondary > div {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	max-width: 490px;
	width: 100%;
	background-color: #fff;
	padding: 32px 24px;
	z-index: 9999;
	color: #030314;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.42px;
	overflow-y: auto;
	display: flex;
    flex-direction: column;

	@media (max-width: 100vh) {
		top: 130px;
		right: 50%;
		transform: translateX(50%);
		border-radius: 20px 20px 0 0;
	}

	& > .close {
		width: 1em;
		height: 1em;
		font-size: 32px;
		background: url('assets/icons/black/close.svg') no-repeat center center / 21px;
		position: absolute;
		top: 32px;
		right: 24px;
		cursor: pointer;
	}

	h2 {
		color: #1A0069;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: 36px;
		letter-spacing: 0.72px;
		margin-bottom: 40px;
	}

	details {
		border-bottom: 1px solid rgba(209, 204, 225, 0.80);
		margin-bottom: 40px;

		& > div {
			padding: 8px 0 0 0;
		}
	}

	summary {
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 24px;
		letter-spacing: 0.48px;
		color: #5F4D96;
		padding: 16px 0px;
	}

	.form-item {
		margin-bottom: 24px;
	}

	.form-actions {
		flex-grow: 1;
		display: flex;
		justify-content: space-between;
		flex-flow: row-reverse;
		align-items: flex-end;

		input[type="submit"] {
			&, &:focus, &:active, &:focus-visible {
				padding: 33px 40px;
				font-size: 14px;
				font-style: normal;
				font-weight: 700;
				line-height: 22px;
				letter-spacing: 0.56px;
				color: #5F4D96;
				border: 0;
				outline: 0;
				background: transparent;
			}
		}

		input[data-drupal-selector*="-submit-"] {
			&, &:focus, &:active, &:focus-visible {
				color: #3C06D9;
				border: 1px solid #3C06D9;
			}
		}
	}
}

ul.pager__items {
	padding: 0;
	margin: -60px 0 80px;
	list-style: none;
    display: flex;
    align-items: center;

	li.pager__item {
        &, a {
            display: inline-block;
        }

        &[class="pager__item"], &.is-active {
            a {
                border-radius: 4px;
                width: 44px;
                height: 44px;
                line-height: 44px;
                text-align: center;
                margin-right: 16px;
				color: #8E8E93;
				font-weight: 700;
            }
        }

        &.is-active a {
            border: 1px solid #5A4DEF;
			color: #5A4DEF;
        }
	}

	li.pager__item--previous,
	li.pager__item--next {
        flex-grow: 2;
        text-align: right;
        font-size: 0;

        a {
    		width: 80px;
    		height: 80px;
    		gap: 10px;
    		color: #A399C3;
    		cursor: pointer;
    		border-radius: 125px;
    		border: 1.25px solid #A399C3;
    		background-color: transparent;
            position: relative;

            &:after {
                content: '>';
        		font-size: 25px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
	}

    li.pager__item--previous {
        flex-grow: 1;
        a:after {
            content: '<';
        }
    }

	li.pager__item--last a {
		display: none;
	}
}

th.select-all.views-field input,
.views-form form > .form-wrapper > .form-wrapper {
	display: none;
}

th.select-all.views-field:first-child,
td.views-field.views-field-node-bulk-form:first-child {
    padding: 24px 0;
    width: 0;

    input {
        margin: 0 -20px 0 32px;
    }
}

