.views-element-container:first-child {
	header {
		padding: 112px 0 84px 0;
		background: linear-gradient(97deg, #0E00AB -18.5%, rgba(73, 43, 195, 0.51) 154.28%);
		font-size: 18px;
		font-weight: 300;
		line-height: 35px;
		letter-spacing: 6.48px;
		color: #E8E5F0;

		h1 {
			font-size: 48px;
			font-weight: 500;
			line-height: 60px;
			letter-spacing: 1.92px;
			color: white;
		}
	}
}
