{# web/core/themes/stable9/templates/content/node.html.twig #}

{{ attach_library('athex/tiny-slider') }}

<div class="container irElement">
	<div class="IrItemElements">
		{{ content.field_ir_page_elements}}
	</div>
</div>
