thead {
    background-color: #F6F5F8;
}


.table {
    width: -webkit-fill-available;
    margin-bottom: 1rem;
    color: #212529;
}


tr{
    height: 102px;

}

thead tr {
    height: 44px;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: none;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: none;
}

.selected-row {
    background-color: #F7F5FD;
  }
  
  .form-check {
    column-gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

button#downloadButton {
    color: #1A0069;
    border: none;
    background-color: transparent;
    background-image: url(./Download.svg);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 25px;
}

.form-check-label {
    color:#1A0069;
    margin-bottom: 0;
}

.vertical-line{
    color:#4B5768;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -230%;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}


  