{# web/core/themes/stable9/templates/field/field.html.twig #}

{% if label %}
    <div class="heading1 textColorDarkBlue weightBook">
        {{ label }}
    </div>
{% endif %}
{% for item in items %}
    <div{{ item.attributes }}>{{ item.content }}</div>
{% endfor %}
<div class="solview-hr-wrapper">
    <hr class="solview-hr">
</div>
