<div class="section-label">
	{{  label  }}
</div>
<div class="container" style="padding:0">
	<div class="benefit-wrapper row" style="justify-content:flex-start">
		{% for item in items %}
			<div class="bi_item col-lg-4 col-12">
				{{ item.content }}
			</div>
		{% endfor %}
	</div>
</div>
