<div class="downloadLinkBtn">
	<div class="wrapper">
		<div class="downloadLinkBtnLabel">{{ label }}</div>
		<div class="media">
			{% for item in items %}
				{{ item.content }}
			{% endfor %}
		</div>
	</div>
</div>
