{# web/core/themes/stable9/templates/field/field.html.twig #}

<div class="tileLinksWrapper">
	{% for item in items %}
		{{ item.content }}
	{% endfor %}
</div>
<div class="solview-hr-wrapper">
	<hr class="solview-hr">
</div>
<div class="controls tiles-slider" aria-label="Carousel Navigation" tabindex="0">
	<span class="prev" data-controls="prev" aria-controls="customize" tabindex="-1">
	</span>
	<span class="next" data-controls="next" aria-controls="customize" tabindex="-1">
	</span>
</div>
