{# web/core/themes/stable9/templates/field/field.html.twig #}

{{ attach_library('athex/image_slider_item') }}

<div class="imagesliderWrapper">
    {% for item in items %}
	    {{ item.content }}
    {% endfor %}
</div>
<div class="controls" id="image-slider" aria-label="Carousel Navigation" tabindex="0">
	<span class="prev" data-controls="prev" aria-controls="customize" tabindex="-1">
	</span>
	<span class="next" data-controls="next" aria-controls="customize" tabindex="-1">
	</span>
