{{ attach_library('athex/indices_overview') }}

<div class="container indices_overview_container">
	<div class="row">
		<div class="col-12">
			<div class="indicesOverviewTitle">
				{{label}}
			</div>
			{{content}}
		</div>
	</div>
</div>
