{{ attach_library('athex/market_highlights') }}

<div class="mhContainer bgColorPurpleLight2">
    <div class="container">
        <div class="row">
            <div class="heading2 weightBoldBook textColorPurple mhTitle">
                {{label}}
            </div>
            {{content}}
        </div>
    </div>
</div>
