{{ attach_library('athex/gradient_hero_title') }}

<div class="container gradient">
	<div class="row d-flex">
		<div class="col-lg-11 col-12 titleCol">
			<div class="gradient-hero-title weightBold">
				{{ content }}
			</div>
		</div>
		<div class="col-lg-1 col-12 btnCol">
			<div class="scrollToTop-btn"></div>
		</div>
	</div>
</div>
