{# web/core/themes/stable9/templates/block/block.html.twig #}
<div{{attributes}}>
	<div class="news_pr_Wrapper">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1 class="qlTitle textColorPurple fontWeightBoldBook heading1">{{ label }}</h1>
				</div>
			</div>
		</div>
		{{ content }}
	</div>
</div>
