{{ attach_library('athex/market_summary') }}

<div class="msContainer">
    <div class="container">
        <div class="row">
            <div class="heading2 weightBoldBook textColorPurple msTitle">
                {{label}}
            </div>
            {{content}}
        </div>
    </div>
</div>