.webformWrapper_aaq {
    padding: 40px 24px 40px 24px;
    background: linear-gradient(89deg, #3300C6 -14.47%, #8466DB 126.05%);

    .body2 strong {
        background: linear-gradient(93deg, #B6F691 1.6%, #51C8D2 68.54%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.webformWrapper_aaq.cu {
    background: linear-gradient(88deg, #21C0F2 -66.86%, #3C06D9 124.88%);
}

.block-label {
    margin-bottom: 24px;
}

.close-btn {
		background-position: center center;
		background-size: cover;
		position: absolute;
		top: 20px;
		right: 20px;
		cursor: pointer;
		background-image: url(/assets/icons/Gradient/iconClose.svg);
}

.prefooter-p_item.webform {
	position: fixed;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 80%;
	background-color: white;
	z-index: 1001;
	transition: right 0.5s;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
}


@media(min-width:992px) {

	.container.webformWrapper.cuWebform {
		padding: 36px;
	}

    .webformWrapper_aaq {
        padding: 48px;
        background: linear-gradient(89deg, #3300C6 -14.47%, #8466DB 126.05%);
    }

	.prefooter-p_item.webform {
		position: fixed;
		right: 0;
		top: 0;
		width: 33%;
		height: 100%;
		background-color: white;
		z-index: 1001;
		transition: right 0.5s;
	}

}

.prefooter-p_item.webform.hidden {
	right: -100%;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(16, 20, 44, 0.40);
	backdrop-filter: blur(2px);
	z-index: 1000;
	display: none;
}

.close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

