.cibWrapper {
    margin-bottom: 80px;
}

.cibImage img {
    width: 100%;
    height: 100%;
    max-height: 210px;
    border-radius: 0px 0px 0px 270px;
    background: linear-gradient(99deg, #831F82 -21.19%, #7ED1B8 328.93%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.cibTitle {
    margin-bottom: 32px;

    p {
        margin-bottom: 0px;
    }
}

.cibText {
    margin-bottom: 28px;
}

.cibCta {
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cibCta::after {
    content: '';
    background-image: url('assets/icons/white/iconArrow.svg');
    display: block;
    background-size: contain;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    margin-left: 16px;
}

.cibCta a {
    text-decoration: none;
    color: inherit;
}

.cibWrapper {
    padding: 56px 24px 56px 24px;
    background: linear-gradient(99deg, #831F82 -21.19%, #7ED1B8 328.93%);
}

.cibTitle strong {
    background: linear-gradient(91deg, #7EC5F9 38.34%, #5BE2A1 96.11%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cibImage {
    margin-right: -24px;
}


@media(min-width:992px) {

    .cibWrapper {
        margin-bottom: 120px;
    }

    .cibImage img {
        width: 411px;
        object-fit: cover;
        height: 100%;
        min-height: 274px;
    }

    .bigTitle {
        padding: 0px !important;
    }

    .cibWrapper .row {
        align-items: flex-start;
        justify-content: space-between;
    }

    .cibWrapper {
        padding: 80px 0px 80px 113px;
    }

    .cibText {
        margin-bottom: 32px;
        margin-left: 24px;
    }

    .cibImage {
        position: relative;
        margin-right: unset;
        height: 274px;
    }

    .cibImage img{
        position:absolute;
        right:0;
    }

    .cibImage img {
        position: absolute;
        right: 0;
    }

    .cibTitle,
    .cibText,
    .cibCta {
        margin-bottom: unset;
    }

    .cibCta {
        margin-top: 32px;
        margin-left: 24px;
    }
}
