.ctbWrapper{
    background-color: #F8F8FA;
    padding-bottom: 48px;
    border-bottom: 1px solid #D1CCE1;
}

.ctbCta {
    margin-top: 32px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.ctbCta::after {
    content: '';
    background-image: url('assets/icons/black/arrow-right-black.svg');
    display: block;
    background-size: contain;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    margin-left: 16px;
}

.ctbCta a {
    text-decoration: none;
    color: inherit;
}

.ctbTitle{
    margin-bottom:32px;
}

@media(min-width:992px){
    .ctbWrapper{
        border-bottom: none;
    }

    .ctbCta {
        margin-top: 28px;
    }

    .ctbTitle{
        margin-bottom:unset;
    }
}
