.container.fuchsia-gradient{

	.logoGroup {
		display: none;
	}

	.esgBannerFontColor {
		display: none;
	}

	.logoClear{
		position: absolute;
			bottom: 32px;
			left: 24px;
		display: block;
	}

	.logoEsg{

		display: none;
	}

	.esgBannerTitle {
		position:relative;
		height: 400px;
		background: linear-gradient(105deg, #3C06D9 0.32%, #B430BD 106.51%);
		background-repeat: no-repeat;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	  }


}

.container.light-green-gradient{

	.logoGroup {
		display: none;
	}

	.esgBannerFontColor {
		display: none;
	}

	.logoClear{
		display: none;
	}

	.logoEsg{
		position: absolute;
			bottom: 32px;
			left: 24px;
		display: block;
	}

	.esgBannerTitle {
		position: relative;
		height: 400px;
		background: linear-gradient(102deg, #4711E2 -5.15%, #00A486 65.82%, #26DF26 107.51%);
		background-repeat: no-repeat;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	  }


}

.container.dark-green-gradient{

	.logoGroup {
		display: none;
	}

	.logoClear {
		display: none;
	}

	.esgBannerFontColor {
		position: absolute;
			bottom: 32px;
			left: 24px;
		display: block;
	}

	.logoEsg{
		display: none;
	}

	.esgBannerTitle {
		position: relative;
		height: 400px;
		background: linear-gradient(108deg, #00845D -7.7%, rgba(0, 181, 127, 0.76) 145.57%);
		background-repeat: no-repeat;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	  }


}


.container.blue-gradient{



	.esgBannerFontColor {
		display: none;

	}

	.logoClear{
		display: none;
	}

	.logoEsg{
		display:none;
	}

	.logoGroup{
		position: absolute;
			bottom: 32px;
			left: 24px;
		display: block;
	}

	.esgBannerTitle {
		position:relative;
		height: 400px;
		background: linear-gradient(102deg, #4711E2 -5.15%, #21C0F2 107.51%);
		background-repeat: no-repeat;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	  }

}


.col-12.esgBannerTitle.heading1 {
    padding: 24px;
}



.esgBannerFontColor {
	max-width: 550px;
	background: linear-gradient(93deg, #B6F691 1.6%, #51C8D2 68.54%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
}

.col-12.esgBannerBody {
    padding: 20px;
}

.exploreMore a{
	margin-top: 30px;
	background-image: url('assets/icons/black/arrow-right-black.svg');
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 25px;
	color:black;

}

.exploreMore div {
    margin-top: 20px;
}


.esgBannerImage{
	position: absolute;
	top: 0;
	right: 0;
}



@media(min-width:992px){

	.col-12.esgBannerTitle.heading1 {
		padding: 46px;
	}

	.container.fuchsia-gradient{

		.logoGroup {
			display: none;
		}

		.esgBannerFontColor {
			display: none;
		}

		.logoClear{
			position: absolute;
			bottom: 32px;
			left: 40px;
			display: block;
		}

		.logoEsg{

			display: none;
		}
		.esgBannerTitle {
			position:relative;
			height: 600px;
			background: linear-gradient(105deg, #3C06D9 0.32%, #B430BD 106.51%);
			background-repeat: no-repeat;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		  }


	}

	.container.light-green-gradient{

		.esgBannerFontColor {
			display: none;
		}

		.logoClear{
			display: none;
		}

		.logoEsg{
			position: absolute;
			bottom: 32px;
			left: 40px;
			display: block;
		}
		.logoGroup {
			display:none;
		}

		.esgBannerTitle {
			position:relative;
			height: 600px;
			background: linear-gradient(102deg, #4711E2 -5.15%, #00A486 65.82%, #26DF26 107.51%);
			background-repeat: no-repeat;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		  }


	}

	.container.dark-green-gradient{

		.logoClear {
			display: none;
		}

		.esgBannerFontColor {
			position: absolute;
			bottom: 32px;
			left: 40px;
			display: block;
		}

		.logoEsg{
			display: none;
		}

		.logoGroup {
			display: none;
		}

		.esgBannerTitle {
			position:relative;
			height: 600px;
			background:linear-gradient(108deg, #00845D -7.7%, rgba(0, 181, 127, 0.76) 145.57%);
			background-repeat: no-repeat;
			background-position: top right;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		  }


	}

	.container.bluegradient{

		.logoClear {
			display: none;
		}

		.logoGroup {
			display: block;
			position: absolute;
			bottom: 32px;
			left: 40px;
		}

		.esgBannerFontColor {
			display: none;
		}

		.logoEsg{
			display: none;
		}


		}

		.container.blue-gradient .esgBannerTitle{

			position: relative;
			height: 600px;
			background: linear-gradient(102deg, #4711E2 -5.15%, #21C0F2 107.51%);
			background-repeat: no-repeat;
			background-position: top right;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;



		}






	.col-12.esgBannerTitle.heading1 {
		padding: 46px;
	}


	.esgBannerFontColor {
		position: relative;
		max-width: 550px;
		background: linear-gradient(93deg, #B6F691 1.6%, #51C8D2 68.54%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: transparent;
	}

	.col-12.esgBannerBody {
		padding: 110px;
	}




}
