.esgBannerTitle {
	height: 600px;
	background: url(/assets/iconESGBanner.png),linear-gradient(108deg, #00845D -7.7%, rgba(0, 181, 127, 0.76) 145.57%);
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
  }


.col-12.esgBannerTitle.heading1 {
	padding: 46px;
}


.esgBannerFontColor {
	max-width: 550px;
	background: linear-gradient(93deg, #B6F691 1.6%, #51C8D2 68.54%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
}

@media(min-width:992px){
	.esgBannerTitle {
		height: 600px;
		background: url(/assets/iconESGBanner.png),linear-gradient(108deg, #00845D -7.7%, rgba(0, 181, 127, 0.76) 145.57%);
		background-repeat: no-repeat;
		background-position: top right;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	  }


	.col-12.esgBannerTitle.heading1 {
		padding: 46px;
	}


	.esgBannerFontColor {
		max-width: 550px;
		background: linear-gradient(93deg, #B6F691 1.6%, #51C8D2 68.54%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: transparent;
	}
}
