
.faq-content {

	padding-bottom: 24px;
	display: none;
	overflow: hidden;
	transition: max-height 0.3s ease;
	max-width: 1113px;
}

.faq-item{

	border-bottom: 1px solid #D1CCE1;

}

  .faq-content.active {
	display: flex;
    flex-direction: row;
  }


  .faq-toggle {
	padding-bottom: 24px;
	padding-top: 24px;
	cursor: pointer;
	background-position:  center right;
	background-repeat: no-repeat;
	background-image: url(assets/iconChevronDown.svg);
  }


.faq-toggle.active-title {
	color: #3C06D9;
	background-image: url(assets/iconChevronUp.svg);
  }

  .faq-download-file{

		background-image: url(assets/Download.svg);
  }
