.container.gcbBanner{
    background-color: #f1f9f5;
    padding:80px 24px;
}

.subheading.cb{
    margin-bottom:10px;
}

.heading8.cb{
    margin-bottom:32px;
}

.gcbText{
    margin-bottom:32px;
}

.gcb-btn{
    margin-bottom:56px;
    padding-top:35px;
    padding-bottom:35px;
}

.gcb-btn a{
    background: linear-gradient(108deg, #00845D -7.7%, rgba(0, 181, 127, 0.76) 145.57%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
    padding: 35px 40px;
    border: 1px solid #00845D;
    backdrop-filter: blur(0px);
}

.gcb-image{
    height:100%;
    border: 16px solid #c9ded4;
    img{
        object-fit:cover;
        width:100%;
        max-height:470px;
    }
}

@media(min-width:992px){
    .container.gcbBanner{
        padding:48px;
    }

    .textSide{
        display:flex;
        flex-direction:column;
        justify-content: center;
    }

    .subheading.cb{
        margin-bottom:8px;
    }
    
    .heading8.cb{
        margin-bottom:24px;
    }
    
    .gcbText{
        margin-bottom:64px;
    }
    
    .gcb-btn{
        margin-bottom:unset;
    }

    .gcb-image{
        border: 12px solid #c9ded4;
        img{
            object-fit:cover;
            width:100%;
            max-height:470px;
        }
    }
    
}