.testimonial-wrapper {
	padding-bottom: 48px;


	.testimonial {
		padding: 56px 0px;
		border-top: 1px solid #D1CCE1;
		border-bottom: 1px solid #D1CCE1;

		.testimonial-hr-wrapper {
			padding: 24px calc(100% - 48px) 24px 0px;

			.testimonial-hr {
				color: #3C06D9 !important;
			}
		}
	}
}

@media(min-width: 992px) {
	.testimonial-wrapper {
		padding: 56px 0px;

		.testimonial {
			padding: 72px 40px;
		}

		.testimonial-hr {
			display: block;
		}
	}
}
