.tciContainer {
	padding: 120px 0px;
}

.tciWrapper {
	padding: 80px 24px;
	background: linear-gradient(99deg, #20009E -10.18%, rgba(3, 0, 133, 0.23) 328.92%);
}

.tciBody {
	padding-top: 32px;
}

.tciCTA {
	display: flex;
	padding: 28px 0px 48px;
	align-items: center;
	gap: var(--spacing-16, 16px);

	a {
		color: #fff;
	}
}

.tciImage img{
	border-radius: var(--Colors-Pixels-Spacing-null, 0px) var(--Colors-Pixels-Spacing-null, 0px) var(--Colors-Pixels-Spacing-null, 0px) 900px;
	background: lightgray 50% / cover no-repeat;
    height: 100%;
    width: 100%;
	mask-image: linear-gradient(to right,rgba(0, 0, 0, 1), 200px ,transparent);
}

.arrow-right {
	background-image: url('assets/icons/white/arrow-right.svg');
	width: 20px;
	height: 20px;
	display: block;
}

@media(min-width: 992px){
	.tciWrapper {
		padding: 120px 80px;
	}

	.tciImage img {
		border-radius: var(--Colors-Pixels-Spacing-null, 0px) var(--Colors-Pixels-Spacing-null, 0px) var(--Colors-Pixels-Spacing-null, 0px) 900px;
		background: lightgray 50% / cover no-repeat;
        // min-height: 434px;
		// min-width: 628px;
	}

	.tciBody {
		padding: 80px 0px 0px 110px;
	}

	.tciCTA {
		padding: 28px 0px 0px 110px;
	}
}
