<div class="PhotoBundleParagraph">
	<div class="titleContent heading3 weightBoldBook textColorDarkBlue">{{ content.field_colp_title}}</div>
    {{ content.	field_colp_body }}
    {{ content.field_colp_item }}
</div>

