{{ attach_library('athex/link_cards_bundle') }}

<div class="link_card textLinkCard">
    <a class="linkCardUrl" href="{{content.field_lc_link.0['#url']}}"></a>
    <div class="oli-teaser-number textColorWhite"></div>
    <div class="linkCardLink textColorWhite weightBoldBook">{{content.field_lc_link}}</div>
</div>


