{# modules/contrib/paragraphs/templates/paragraph.html.twig' #}

{{ attach_library('athex/timeline_effect') }}

<div class="section timelineeffectitems container">
    <div class="anchor-items">
        <div class="bullet" data-index="0"></div>
        <div class="vertical-bar"></div>
	</div>
    {% block paragraph %}
        <div class="TitleContent"{{ attributes.addClass(classes) }}>
            {% block content %}
                <span class="heading3 textColorDarkBlue weightBoldBook lwTitle"> {{content.field_tei_title}}</span>
                <div class="content">{{content.field_timeline_effect_item_conte}}</div>
            {% endblock %}
        </div>
    {% endblock paragraph %}
</div>
