{# modules/contrib/paragraphs/templates/paragraph.html.twig' #}

{{ attach_library('athex/image_slider') }}

<div>
	<div class="row">
		<div class="col-12">
			<div>
				{{content.field_image_item_ref}}
			</div>
		</div>
	</div>
</div
