<div class="scheduleItem">
  <div class="schedulItemTitle body2 weightBold textColorBlack"> {{ content.field_sbi_description}}	</div>
  <div class="schedulItemTime body2 weightDemi textColorPurple d-flex"> {{ content.field_sbi_value}} - {{ content.field_colpi_svalue }}</div>
</div>
<hr class="scheduleItemHr">     