{{ attach_library('athex/title_text') }}

<div class="TextTitle">
	<div class="container TextTitleContainer">
		<div class="row">
			<div class="col-12 col-lg-6 title">
				<span class="subheading weightLight textColorDarkGrey ">{{content.field_sn_uppertitle}}</span>
				<span class="heading1 textColorDarkBlue weightBoldBook">{{content.field_sn_title}}</span>

			</div>
			<div class="col-12 col-lg-6 text">
				<span class="body2 weightBook textColorBlack ">{{content.field_sn_text}}
			</div>
		</div>
	</div>
</div>
