{{ attach_library('athex/tile_link_group') }}

<div class="container">
	<div class="row">
		<div class="tl-wrapper">
			<div class="tl-group-title heading5 textCotextColorDarkBluelorWhite weightBook"> {{ content.field_tile_group_title }} </div>
			<div>{{ content.field_tile_links }}</div>
		</div>
	</div>
</div>
