{#web/modules/contrib/paragraphs/templates/paragraph.html.twig#}
<div class="SeminarDetails">

<h6 class="headlineBlack weightDemi heading6">{{content.field_dc_title}}</h6>
<hr class="SeminarDetailsHr">
{{content.field_dc_item}}
 <button class="register">{{content.field_dc_cta}}</button> 
 </div>
<style>
 
.SeminarDetails {
    background: var(--Colors-Background-Light-Purple, #F6F5F8);
    padding: 24px;
}

.SeminarDetailsHr{
    display:block;
    color: #D1CCE1;
}
 </style>