<div class="DetailsCardItems">
	<span class="body3 weightDemi textColorPurple7">{{content.field_dci_title}}</span>
	<span class="body3 weightBook textColorBlackDark">{{content.field_dci_body}}
</div>

