{# web/modules/contrib/paragraphs/templates/paragraph.html.twig #}

{{ attach_library('athex/faq') }}

<div class="container faq-container">
	<span class="heading8  textColorDarkBlue weightBoldBook">{{content.field_fag_title}}</span>
	{{content.field_faq_item}}
</div>

