<div class="donut_data_item_elements d-none">
	<div class="elements">
		<div class="ddi_label">{{content.field_ddi_label}}</div>
		<div class="ddi_color">{{content.field_ddi_color}}</div>
		<div class="ddi_value">{{content.field_ddi_value}}</div>
	</div>
</div>
