<div class="row listItem">
	<div class="col-12 col-lg-4 counterListItems">
		<div class="counterNmber">{{content.field_list_item_number}}</div>
	</div>
	<div class="col-12 col-lg-6 listParagraphContent">
		<div class="listItemTitle heading8 weightBoldBook textColorIndigo">
			{{content.field_list_item_title}}
		</div>
		<div class="listItemBody body2 weightLight textColorBlackDark">
			{{content.field_list_item_body}}
		</div>
	</div>
</div>
