{# modules/contrib/paragraphs/templates/paragraph.html.twig' #}

{{ attach_library('athex/prefooter_block') }}

<div class="prefooter-container">
    <div class="pref_items">{{ content.field_prefooter_items }}</div>
</div>
