{{ attach_library('athex/link_with_image_overlay') }}

<div class="container lwiob">
    <div class="row">
        <div class="col-12 col-lg-5 lwiobTextWrapper">
            <div class="lwiobTitle heading1 cb textColorPurple weightBoldBook">{{content.field_lwiob_title}}</div>
        </div>
        <div class="col-12 col-lg-6 offset-lg-1">
            <div class="lwiobText cb weightBook body2 textColorBlackDark">{{content.field_lwiob_text}}</div>
        </div>
        <div class="col-12">
            <div class="lwiob-items">{{content.field_lwiob_item}}</div>
        </div>
    </div>
</div>
