{{ attach_library('athex/link_with_image_overlay') }}

<div class="overlay_link_item">
    <div class="counter-link-wrapper">
        <div class="oli-teaser-number"></div>
        <div class="oli_link">{{ content.field_lwio_link }}</div>
    </div>
</div>
