{{ attach_library('athex/info_card') }}
<div class="container contactCard">
	<div class="row contactCardRow">
		<div class="col-12 d-flex contact-card">
			<div class="card-title">
				{{content.field_ici_title}}
			</div>
			<div class="info-wrapper d-flex">
				<div class="info-col">
					{{content.field_ic_text_column}}
				</div>
			</div>
		</div>
	</div>
</div>
