{# modules/contrib/paragraphs/templates/paragraph.html.twig' #}

<div class="prefooter-p_item">
	<div class="prefooter-p_item label">{{content.field_label}}</div>
	<div class="prefooter-p_item body">{{content.field_text}}</div>
	<div class="prefooter-p_item webform d-none">{{content.field_webform}}</div>
</div>
