{{ attach_library('athex/tile_link') }}

<div class="tile-link">
	<div class="tile-link-wrapper">
		<a href="{{content.field_tl_link.0['#url'] }}">
			<div class="tile-link-title">{{content.field_tl_link.0['#title'] }}</div>
			<span class="tl-arrow"></span>
		</a>
	</div>
</div>

