{# modules/contrib/paragraphs/templates/paragraph.html.twig' #}

{{ attach_library('athex/category_reference') }}

<div class="categoryReferencePar">
<span class="body3 weightDemi textColorBlackDark">{{content.field_cct_name}}</span>
<div class="solTags nav-pills">{{content.field_ccy_category_reference}}</div></div>
