{# modules/contrib/paragraphs/templates/paragraph.html.twig' #}

{{ attach_library('athex/benefits') }}

<div class="container">
	<div class="row benefitsgrouprow">
		<div class="benefitTitle heading3 textColorDarkBlue weightBoldBook">{{content.field_bg_title}}</div>
		<div class="benefit-items col-12 col-lg-9">
			<div class="benefitItems">{{content.field_benefits_items}}</div>
		</div>
	</div>
</div>
