{{ attach_library('athex/cta_text_banner') }}


<div class="container">
	<div class="ctbWrapper">
		<div class="row">
			<div class="col-lg-6 bigTitle col-12">
				<div class="ctbTitle textColorPurple heading2 weightBoldBook">{{content.field_ctb_title}}</div>
			</div>
			<div class="col-lg-6 col-12">
				<div class="ctbText body2 weightBook textColorBlackDark">{{content.field_ctb_text}}</div>
				<div class="ctbCta textColorBlackDark weightBoldBook cta1">{{content.field_ctb_cta}}</div>
			</div>
		</div>
	</div>
</div></div></div>
