{#web/modules/contrib/paragraphs/templates/paragraph.html.twig#}
<div class="SeminarDetails">
    <h6 class="headlineBlack weightDemi heading6">{{content.field_dc_title}}</h6>
    <hr class="SeminarDetailsHr">
        {{content.field_dc_item}}
    <button class="register">{{content.field_dc_cta}}</button> 
 </div>

 <div class="container-main">
    <div class="sticky-button">
      <button>{{content.field_dc_cta}}</button>
    </div>
  </div>