{{ attach_library('athex/logo_wrapper') }}


    {% block paragraph %}
        <div class="parContent"{{ attributes.addClass(classes) }}>
            {% block content %}
                <span class="heading3 textColorDarkBlue weightBoldBook lwTitle"> {{content.field_lw_title}}</span>
                <div class="logos">{{content.field_lw_logos}}</div>
            {% endblock %}
        </div>
    {% endblock paragraph %}

