<div class="PhotoBundleParagraph">
	<span class="titleContent heading3 weightBoldBook textColorDarkBlue">{{ content.field_colp_title}}</span>
    {{ content.	field_colp_body }}
    {{ content.field_colp_item }}
</div>

