{{ attach_library('athex/multicolor_text') }}

<div class="container mtSection purple">
	<div class="row mtSectionRow">
		<h2 class="subheading cb weightLight">{{content.field_mini_title}}</h2>
		<div class="col-12">
			<div class="mtText cb weightDemi heading1">{{content.field_mt_text}}</div>
		</div>
		<div class="col-12">
			<div class="cta1 weightBoldBook">{{content.field_mt_link}}</div>
		</div>
	</div>
</div>
