<div class="row">
  <div class="col-12 col-lg-4">
      {{ content.field_colpi_image }}
    </div>
    <div class=" col-12 col-lg-8 ">
      <h4 class="heading4 textColorPurple weightBoldBook">{{ content.field_colpi_title }}</h4>
      <p class="body2 weightBoldBook textColorPurpleLight " >{{ content.field_colpi_subtitle }}</p>
      <p class="body2 weightBoldBook headlineBlack " >{{content.field_colpi_description}}</p>
    </div>
  </div>   
</div>  