<div class="row PhotosBundleItem">
  <div class="col-12 col-lg-4">
      {{ content.field_colpi_image }}
    </div>
    <div class=" col-12 col-lg-8 ">
      <h4 class="heading4 textColorPurple weightBoldBook">{{ content.field_colpi_title }}</h4>
      <span class="body2 weightBoldBook textColorPurpleLight " >{{ content.field_colpi_subtitle }}</span>
      <span class="body2 weightBoldBook headlineBlack " >{{content.field_colpi_description}}</span>
    </div>
  </div>   
</div>  
