{{ attach_library('athex/title_text') }}

<div class="TextTitle">
	<div class="container TextTitleContainer">
		<div class="row">
			<div class="col-12 col-lg-6 title">
				{{content.field_sn_title}}
			</div>
			<div class="col-12 col-lg-6 text">
				{{content.field_sn_text}}
			</div>
		</div>
	</div>
</div>
