   
<div class="col-12 col-lg-3">
    {{content.field_semitem_main_image}}
    <p class="textColorIndigo body3 weightBold">SEMINAR</p>
    <span class="headlineBlack heading6 weightBold">{{label}}</span>
    <div class="ViewSeminarDate">
       <span class="headlineBlack body1"> {{content.field_si_start_date}}</span>
       <span class="headlineBlack body1"> {{content.field_si_duration}}</span>
    </div>
</div>
